#!/usr/bin/env xdg-open
[Desktop Entry]
Comment[en_GB]=
Comment=
Exec=bash -c '"$(dirname "$1")"/wow-recorder-ubuntu-latest "$(dirname "$1")"/wow_recorder_py.cfg' dummy %k
GenericName[en_GB]=
GenericName=
Icon=camera-video
MimeType=
Name[en_GB]=WoW Recorder
Name=WoW Recorder
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
